In [1]:
#TOPIC: String Based Assignment Problem

In [2]:
#Question 1. Write a program to reverse a string.

In [3]:
string = input("Enter  the string")
string = string[::-1]
print("The reversed string is: ",string)

Enter  the string shama

The reversed string is:  amahs

In [4]:
#Question 2. Check if a string is a palindrome.

In [8]:
string1 = input("Enter the string")
palindrome = string1[::-1]
if(string1==palindrome):
    print("The string is a palindrome")
else:
    print("The string is not a palindrome")

Enter the string madam

The string is a palindrome

In [9]:
#Question 3. Convert a string to uppercase.

In [10]:
string2 = input("Enter the string")
string2 = string2.upper()
print("this converted string in uppercase:",string2)

Enter the string shama

this converted string in uppercase: SHAMA

In [11]:
#Question 4. Convert a string to lowercase.

In [13]:
string3 = input("Enter the string")
string3 = string3.lower()
print("This string is converted in lowercase: ",string3)

Enter the string shama

This string is converted in lowercase:  shama

In [14]:
#Question 5. Count the number of vowels in a string.

In [27]:
string4 = input("Enter the string")
vowels = [string4.count(x) for x in "aeiou"]
print("Total vowels are: ",sum(vowels))

Enter the string shama

Total vowels are:  2

In [24]:
#Question 6. Count the number of consonants in a string.

In [25]:
string5 = input("Enter the string")
vowels = 'aeiou'
result= ''
for i in string:
    if i not in vowels:
        result +=i
print("Total consonants are:- ", len(result))

Enter the string shama

Total consonants are:-  3

In [28]:
#Question 7. Remove all whitespaces from a string.

In [32]:
string6 = input("Enter the string")
string6 = string6.replace(" ","")
print(string6)

Enter the string hello world

helloworld

In [33]:
#Question 8. Find the length of a string without using the `len()` function.

In [34]:
string7 = input("Enter the string")
count = 0 
for i in string:
    count+=1
print("Total lenth of string is: ",count)

Enter the string shama

Total lenth of string is:  5

In [35]:
#Question 9. Check if a string contains a specific word.

In [37]:
string8 = "Welcome to PW Skills class"
if "PW Skills" in string8:
    print("pw skills in string")
else:
    print("pw skills is not in string")

pw skills in string

In [38]:
#Question 10. Replace a word in a string with another word.

In [39]:
string9 = "Welcome to PW Skills class"
string9 = string9.replace("class","lab")
print("This is word replace string:",string9)

This is word replace string: Welcome to PW Skills lab

In [1]:
#Question 11. Count the occurrences of a word in a string.

In [5]:
string10 = input("Enter the string")
print(string10)
string10 = string10.split(" ")
print(string10)
for i in string10:
    print("Total word occurrences in string:",i,string10.count(i))

Enter the string hello welcome welcome pw skillls class

hello welcome welcome pw skillls class
['hello', 'welcome', 'welcome', 'pw', 'skillls', 'class']
Total word occurrences in string: hello 1
Total word occurrences in string: welcome 2
Total word occurrences in string: welcome 2
Total word occurrences in string: pw 1
Total word occurrences in string: skillls 1
Total word occurrences in string: class 1

In [6]:
#Question 12. Find the first occurrence of a word in a string.

In [7]:
#Question 13. Find the last occurrence of a word in a string.

In [8]:
#Question 14. Split a string into a list of words.

In [9]:
string14 = input("Enter the string")
string14 = string14.split()
print(string14)

Enter the string welcome to pwskills class

['welcome', 'to', 'pwskills', 'class']

In [10]:
#Question 15. Join a list of words into a string.

In [4]:
String15 = ["join","a","list","of","words","into","a","string."]
print(" ".join(map(str,String15)))

join a list of words into a string.

In [1]:
#Question 16. Convert a string where words are separated by spaces to one where words
#are separated by underscores.

In [2]:
#Question 17. Check if a string starts with a specific word or phrase.

In [5]:
string17 = "Check if a string starts with a specific word or phrase"
prefix = string17.startswith('Check')
print("The input string start with the given prefix:",prefix)

The input string start with the given prefix: True

In [6]:
#Question 18. Check if a string ends with a specific word or phrase.

In [7]:
string18 = "Check if a string ends with a specific word or phrase"
suffix = "rase"
result=string18.endswith(suffix)
print("The input string ends with the given suffix:", result)

The input string ends with the given suffix: True

In [8]:
#Question 19. Convert a string to title case.

In [9]:
string19 = input("Enter the string")
result = string19.title()
print("input string coverted to title case: ",result)

Enter the string hello world

input string coverted to title case:  Hello World

In [10]:
#Question 20. Find the longest word in a string.

In [14]:
string20 = input("Enter string : ")
string20 = string20.split()
print(string20)
result = max(string20,key=len)
print("The longest word in string is : ",result)

Enter string :  helllo welcome pwskills class

['helllo', 'welcome', 'pwskills', 'class']
The longest word in string is :  pwskills

In [15]:
#Question 21. Find the shortest word in a string.

In [18]:
string21 = input("Enter the string: ")
string21 = string21.split()
print(string21)
result = min(string21,key=len)
print("The shortest word in a string is: ",result)

Enter the string:  Find the shortest word in a string

['Find', 'the', 'shortest', 'word', 'in', 'a', 'string']
The shortest word in a string is:  a

In [19]:
#Question 22. Reverse the order of words in a string.

In [22]:
string22 = input("Enter the string: ")
string22 = string22.split()[::-1]
print("Reverse the order of words in a string: ",string22)

Enter the string:  Reverse the order of words in a string

Reverse the order of words in a string:  ['string', 'a', 'in', 'words', 'of', 'order', 'the', 'Reverse']

In [23]:
#Question 23. Check if a string is alphanumeric.

In [25]:
string23 = input("Enter string: ")
result = string23.isalnum()
print("Check given string in alphanumeric: ",result)

Enter string:  alphanumeric

Check given string in alphanumeric:  True

In [26]:
#Question 24. Extract all digits from a string.

In [31]:
string24 = input("Enter string: ")
num = ""
for i in string24:
    if i.isdigit():
        num= num+i
print("Extracted digits from the string : " + num)

Enter string:  hello world22

Extracted digits from the string : 22

In [32]:
#Question 25. Extract all alphabets from a string.

In [1]:
string25 = input("Enter string: ")
alpha = ""
for i in string25:
    if i.isalpha():
        alpha = alpha+i
print("Extracted all alphabets from the string: ",alpha)

Enter string:  hello 23242 world

Extracted all alphabets from the string:  helloworld

In [2]:
#Question 26. Count the number of uppercase letters in a string.

In [8]:
string26 = input("Enter string: ")
uppercase = 0
for i in string26:
    if i.isupper():
        uppercase = uppercase+1
print("The number of uppercase characters is: ",uppercase)

Enter string:  Shama

The number of uppercase characters is:  1

In [4]:
#Question 27. Count the number of lowercase letters in a string.

In [9]:
string27 = input("Enter string: ")
islower = 0
for i in string27:
    if i.islower():
        islower =islower+1
print("The number of lowercase characters is: ",islower)

Enter string:  Hello

The number of lowercase characters is:  4

In [10]:
#Question 28. Swap the case of each character in a string.

In [11]:
string28 = input("Enter string: ")
Swapcase = string28.swapcase()
print(Swapcase)

Enter string:  hello world

HELLO WORLD

In [12]:
#Question 29. Remove a specific word from a string.

In [24]:
string29 = "Remove a specific word from a string."
srting29 = string29.replace("word",'')
print("Removed a specific word from a string is : ",srting29)

Removed a specific word from a string is :  Remove a specific  from a string.

In [25]:
#Question 30. Check if a string is a valid email address.

In [14]:
string30 = input("Enter the email address: ")
if not "@" in string30:
    print("Invalid email")
elif not string30[-4:] in ".com.org.edu.gov.net":  
    print("Invalid email")
else:
    print("valid email")

Enter the email address:  shama12@gmail.com

valid email

In [15]:
#Question 31. Extract the username from an email address string.

In [15]:
string31 = input("Enter the email address: ")
if not "@" in string31:
    print("Invalid email")
elif not string31[-4:] in ".com.org.edu.gov.net":
    print("Invalid email")
res = string31.split('@')[0]


print("Extracted the username from an email address: ",res)

Enter the email address:  shama@gmail.com

Extracted the username from an email address:  shama

In [23]:
#Question 32. Extract the domain name from an email address string.

In [16]:
string32 = input("Enter the email address: ")
if not "@" in string32:
    print("Invalid email")
elif not string32[-4:] in ".com.org.edu.gov.net":
    print("Invalid email")
res = string32.split('@')[1]
domain = res.split('.')[0]
print(" Extract the domain name: ",domain)

Enter the email address:  shama@gmail.com

 Extract the domain name:  gmail

In [17]:
#Question 33. Replace multiple spaces in a string with a single space.

In [1]:
string33 = input("Enter the string: ")
result = " ".join(string33.split())
print(result)

Enter the string:  shama   helloo   welocome

shama helloo welocome

In [ ]:
#Question 34. Check if a string is a valid URL.

In [2]:
def Find(string):
    x=string.split()
    res=[]
    for i in x:
        if i.startswith("https:") or i.startswith("http:"):
            res.append(i)
    return res
string = 'My Profile: https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles in the portal of https://www.geeksforgeeks.org/'
print("Urls: ", Find(string))

Urls:  ['https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles', 'https://www.geeksforgeeks.org/']

In [3]:
#@uestion 50. Convert a CSV string to a list of lists.

In [10]:
def csv_string_to_list(csv_string):
    lines = csv_string.split
    result = []
for line in lines:
       fields = line.split(',')
        result.append(fields)
return result
    csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
    list_of_lists = csv_string_to_list(csv_data)
for row in list_of_lists:
print(row)

IndentationError: unexpected indent (2278058421.py, line 6)

In [11]:
#Question 36. Find the frequency of each character in a string.

In [13]:
string36 = input("Enter the string: ")
all_freq = {}
for i in string36:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1
        print("Count of all characters in string is  :\n "
      + str(all_freq))

Enter the string:  shaaaammmaaaa

Count of all characters in string is  :
 {'s': 1}
Count of all characters in string is  :
 {'s': 1, 'h': 1}
Count of all characters in string is  :
 {'s': 1, 'h': 1, 'a': 1}
Count of all characters in string is  :
 {'s': 1, 'h': 1, 'a': 4, 'm': 1}

In [14]:
#Question 37. Remove all punctuation from a string.

In [19]:
import string
def remove_punctuation(input_string):
    translator = str.maketrans("", "", string.punctuation)
    clean_string = input_string.translate(translator)
    return clean_string
input_str = "Hello, world! How's it going?"
cleaned_str = remove_punctuation(input_str)
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

In [20]:
#Question 38. Check if a string contains only digits.

In [21]:
def contains_only_digits(input_string):
    return input_string.isdigit()
string1 = "12345"
string2 = "Hello123"
string3 = "456.789"
result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)

print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'12345' contains only digits: True
'Hello123' contains only digits: False
'456.789' contains only digits: False

In [22]:
#Question 39. Check if a string contains only alphabets.

In [26]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()
string39 = "12345"
string43 = "Hello123"
resut39= contains_only_alphabets(string39)

result43 = contains_only_alphabets(string43)

print(f"'{string39}' contains only alphabets:", resut39)

print(f"'{string43}' contains only alphabets:", result43)

'12345' contains only alphabets: False
'Hello123' contains only alphabets: False

In [27]:
#Question 40. Convert a string to a list of characters.

In [28]:
def string_to_list(input_string):
    char_list = list(input_string)
    return char_list
input_str = "Hello, world!"
char_list = string_to_list(input_str)
print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Hello, world!
List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [1]:
#Question 41. Check if two strings are anagrams.

In [4]:
def check(s1,s2):
    if(sorted(s1)==sorted(s2)):
        print("the string is anagrams ")
    else:
        print("the string is not anagrams ")
s1 = "listen"
s2 = "silent"
check(s1,s2)

the string is anagrams

In [1]:
#Question 42. Encode a string using a Caesar cipher.

In [2]:
#Topic List Based Practice Problem :

In [3]:
#Question 1. Create a list with integers from 1 to 10.

In [6]:
integer_list = [i for i in range(1,11)]
print("List of integers :",integer_list)

List of integers : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
#Question 2. Find the length of a list without using the `len()` function.

In [10]:
def custom_len(input_list):
    count = 0
    for _ in input_list:
        count  += 1
    return count
    
mylist = [12,20]
length =  custom_len(mylist)
print("Enterthe length: ",length)

Enterthe length:  2

In [11]:
#Question 3. Append an element to the end of a list.

In [27]:
my_list = [10, 20, 30, 40, 50]

new_element = 100
my_list.append(new_element)
# print(new_list)

print("Appended new element is :",my_list)

Appended new element is : [10, 20, 30, 40, 50, 100]

In [28]:
#Question 4. Insert an element at a specific index in a list.

In [32]:
my_list = ["hello"]
my_list.insert(1,"world")
print("Inserted element at a specifix index : ",my_list)

Inserted element at a specifix index :  ['hello', 'world']

In [33]:
#Question 5. Remove an element from a list by its value.

In [42]:
my_list = ["hello","world","welcome","the","pw","skill"]
print("This is original list value:",my_list)
my_list.remove("world")
print("After deleting the value:",my_list)

This is original list value: ['hello', 'world', 'welcome', 'the', 'pw', 'skill']
After deleting the value: ['hello', 'welcome', 'the', 'pw', 'skill']

In [43]:
#Question 6. Remove an element from a list by its index.

In [49]:
my_list = ["hello","world","welcome","the","pw","skills"]
print("The original list value: ",my_list)
my_list.pop(1)
print("After deleting the value:",my_list)

The original list value:  ['hello', 'world', 'welcome', 'the', 'pw', 'skills']
After deleting the value: ['world', 'welcome', 'the', 'pw', 'skills']

In [50]:
#Question 7. Check if an element exists in a list.

In [58]:
my_list = ["hello","world","welcome","the","pw","skills"]
for i in my_list:
    if(i=="world"):
        print("Element is exixts")

Element is exixts

In [59]:
#Question 8. Find the index of the first occurrence of an element in a list.

In [2]:
my_list = [20,30,40,50,60]
element = 30
index = my_list.index(element)
print(f"index of {element} is {index} ")

index of 30 is 1

In [3]:
#Question 9. Count the occurrences of an element in a list.

In [4]:
my_list = [20,30,20,50,60,20,10,30,50]
elecmet = 20 
count = my_list.count(elecmet)
print(f" Count the occurrences of {elecmet} is {count} ")

 Count the occurrences of 20 is 3

In [5]:
#Question 10. Reverse the order of elements in a list.

In [7]:
my_list = [20,30,40,40,12,41,50,100]
my_list.reverse()
print("Reverse list is: ",my_list)

Reverse list is:  [100, 50, 41, 12, 40, 40, 30, 20]

In [8]:
#Question 11. Sort a list in ascending order.

In [9]:
my_list = [12,21,2,5,13,6,40,20,11]
my_list.sort()
print("Sort list is: ", my_list)

Sort list is:  [2, 5, 6, 11, 12, 13, 20, 21, 40]

In [10]:
#Question 12. Sort a list in descending order.

In [11]:
my_list = [30,20,25,28,40,100,60]
my_list.sort(reverse=True)
print("Sort a list in descending order is: ",my_list)

Sort a list in descending order is:  [100, 60, 40, 30, 28, 25, 20]

In [12]:
#Question 13. Create a list of even numbers from 1 to 20.

In [13]:
even_number = [x for x in range(2,21,2)]
print("Create a list of even numbers from 1 to 20 is: ",even_number)

Create a list of even numbers from 1 to 20 is:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
#Question 14. Create a list of odd numbers from 1 to 20.

In [16]:
odd_number = [x for x in range(1,21,2)]
print("Create a list of odd numbers from 1 to 20: ",odd_number)

Create a list of odd numbers from 1 to 20:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [17]:
#Question 15. Find the sum of all elements in a list.

In [18]:
my_list = [20,12,24,25,26,28]
total_sum = sum(my_list)
print("sum of all elements in list is: ",total_sum)

sum of all elements in list is:  135

In [19]:
#Question 16. Find the maximum value in a list.

In [20]:
my_list = [20,30,40,50,100]
max_val = max(my_list)
print("maximum value in a list is : ",max_val)

maximum value in a list is :  100

In [21]:
#Question 17. Find the minimum value in a list.

In [23]:
my_list = [30,20,50,60,20,30]
min_val = min(my_list)
print("minimum value in a list is :",min_val)

minimum value in a list is : 20

In [24]:
#question 18. Create a list of squares of numbers from 1 to 10.

In [25]:
squares_list = [x ** 2 for x in range(1,11)]
print("squares of numbers from 1 to 10 :",squares_list)

squares of numbers from 1 to 10 : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
#Question 19. Create a list of random numbers.

In [27]:
import random
random_val = [random.randint(1,100) for i in range(10)]
print("list of random numbers : ",random_val)

list of random numbers :  [54, 79, 32, 21, 13, 22, 39, 30, 1, 63]

In [28]:
#Question 20. Remove duplicates from a list.

In [29]:
my_list = [23,40,60,30,30,40,30,50]
unique_list = list(set(my_list))
print("Removed duplicates from a list : ",unique_list)

Removed duplicates from a list :  [40, 50, 23, 60, 30]

In [30]:
#Question 22. Find the difference between two lists.

In [31]:
my_list1 = [20,50,40,30,50,100,30,40]
my_list2 = [40,20,12,13,50,100,15.16]
comm_element = list(set(my_list1).difference(my_list2))
print("common elements between two lists: ",comm_element)

common elements between two lists:  [30]

In [32]:
#Question 21. Find the common elements between two lists.

In [40]:
def  common_ele(a,b):
           result = [i for i in a if i in b]
           return result
a = [20,50,40,30,50,100,30,40]
b = [40,20,12,13,50,100,15.16]
print("the common elements between two lists : ")
print(common_ele (a,b))

the common elements between two lists :
[20, 50, 40, 50, 100, 40]

In [41]:
#Question 23. Merge two lists.

In [43]:
my_list1 = [20,30,40,50]
my_list2 = [10,30,100,30]
merge_list = my_list1+my_list2
print("Merge two lists is :",merge_list)

Merge two lists is : [20, 30, 40, 50, 10, 30, 100, 30]

In [1]:
#Question 24. Multiply all elements in a list by 2.

In [2]:
my_list = [10,20,30,40,50]
result = [x*2 for x in my_list]
print("Multiply all elements in a list by 2 is :",result)

Multiply all elements in a list by 2 is : [20, 40, 60, 80, 100]

In [3]:
#Question 25. Filter out all even numbers from a list.

In [27]:
my_list = [1,2,3,4,5,6,7,8,9,10]

out = []
for num in my_list:
     if num%2 == 0:
        out.append(num)
print("out all even numbers from a list : ",out)

out all even numbers from a list :  [2, 4, 6, 8, 10]

In [28]:
#Question 26. Convert a list of strings to a list of integers.

In [29]:
string_list = ["10","12","16","20","40"]
int_list = [int(x) for x in string_list]
print("Converted string list in to interger : ",int_list)

Converted string list in to interger :  [10, 12, 16, 20, 40]

In [31]:
#Question 27. Convert a list of integers to a list of strings.

In [32]:
integer_list = [10,20,30,40,50,60]
string_list = [str(x) for x in integer_list]
print("Converted integer list in to string : ",string_list)

Converted integer list in to string :  ['10', '20', '30', '40', '50', '60']

In [33]:
#Question 28. Flatten a nested list.

In [47]:
def flat(lis):
    flatList = []
    # Iterate with outer list
    for element in lis:
        if type(element) is list:
            # Check if type is list than iterate through the sublist
            for item in element:
                flatList.append(item)
        else:
            flatList.append(element)
    return flatList
 
 
lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
print('List', lis)
print('Flat List', flat(lis))

List [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
Flat List [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [59]:
def flat(my_list):
       flatlist = []
    for element in my_list:
        if type(element) is list:
            
            for item  in element:
                flatlist.append(item)
        else:
            flatlist.append(element)
    return flatList

my_list = [10,20,30,[20,50],[90,60]]
print('List', my_list)
print('Flat List', flat(my_list))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [91]:
#Question 29. Create a list of the first 10 Fibonacci numbers.

In [91]:
#Question 29. Create a list of the first 10 Fibonacci numbers.

In [92]:
#Question 30. Check if a list is sorted.

In [4]:
listA = [11,23,42,51,67]
print("Given list : ",listA)
listA_copy = listA[:]
print(listA_copy)
listA_copy.sort()
if (listA == listA_copy):
        print("Yes, List is sorted.")
else:
        print("No, List is not sorted.")

Given list :  [11, 23, 42, 51, 67]
[11, 23, 42, 51, 67]
Yes, List is sorted.

In [ ]:
#Question 31. Rotate a list to the left by `n` positions.

In [8]:
list31 = [10,20,30,45,56]
print("Given list : ",list31)
list31 = list31[3:] + list31[:3]
print("List after left rotate by 3: ",list31)

Given list :  [10, 20, 30, 45, 56]
List after left rotate by 3:  [45, 56, 10, 20, 30]

In [9]:
#Question 32. Rotate a list to the right by `n` positions.

In [14]:
list32 = [30,20,40,50,12,36]
print("Given list : ",list32)
list32 = list32[-2:] + list32[:-2]
print("List after right rotate by 2: ",list32)

Given list :  [30, 20, 40, 50, 12, 36]
List after right rotate by 2:  [12, 36, 30, 20, 40, 50]

In [1]:
#Question 33. Create a list of prime numbers up to 50.

In [4]:
for num in range(1, 51):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num, 'is a prime number')

1 is a prime number
2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number

In [5]:
#Question 34. Split a list into chunks of size `n`.

In [10]:
my_list = [1,2,3,4,5,6,7,8,4,9]
start = 0 
end = len(my_list)
print("Enter the length of list: ",end)
step = 2 
for i in range(start,end ,step):
    n = i
    print(my_list[n:n+step])

Enter the length of list:  10
[1, 2]
[3, 4]
[5, 6]
[7, 8]
[4, 9]

In [11]:
#Question 35. Find the second largest number in a list.

In [15]:
my_list = [10,20,30,45,29,100,20,10,34]
new_list = set(my_list)
print(new_list)
print("Second largest element is:", sorted(new_list)[-2])

{34, 100, 10, 45, 20, 29, 30}
Second largest element is: 45

In [16]:
#Question 36. Replace every element in a list with its square.

In [24]:
my_list = [1,2,3,4,5,6]
result = [i*i for i in my_list]
print(result)

[1, 4, 9, 16, 25, 36]

In [ ]:
#Question Convert a list to a dictionary where list elements become keys and their
#indices become values.

In [28]:
my_list = ['shama','perween','saba','irshad']
names_dict = {}
for i, name in enumerate(my_list):
    names_dict[i] = name
print(names_dict)

{0: 'shama', 1: 'perween', 2: 'saba', 3: 'irshad'}

In [ ]:
#Question 38. Shuffle the elements of a list randomly.

In [30]:
import random

mylist = [2,3,4,5,6,3]
random.shuffle(mylist)

print("shuffle the element of list : ",mylist)

shuffle the element of list :  [4, 2, 3, 5, 6, 3]

In [31]:
#Question 39. Create a list of the first 10 factorial numbers.

In [38]:
def factorial(n):
 
    return 1 if (n==1 or n==0) else n * factorial(n - 1)
num = 10
print ("Factorial of",num,"is",
      factorial(num))

Factorial of 10 is 3628800

In [39]:
#Question 40. Check if two lists have at least one element in common.

In [41]:
my_list1 = [1,3,4,5,6,7,4,7,8]
my_list2 = [1,2,3,4,5,7,8,9,7]
result = any(check in my_list1 for check in my_list2)
if result:
    print("True")
else:
    print("False")

True

In [ ]:
#Question 41. Remove all elements from a list.

In [49]:
my_list = [1,2,3,4,5,6,7,8,9,10]
print("List1 before removing is : " , my_list)
del my_list[:]
print("List1 after removing is : ", my_list)

List1 before removing is :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List1 after removing is :  []

In [50]:
#Question 42. Replace negative numbers in a list with 0.

In [55]:
my_list = [1,2,4,5,6,7,-2,-3,-4]
print("List before replace :",my_list)
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print("List after replace : ",my_list)

List before replace : [1, 2, 4, 5, 6, 7, -2, -3, -4]
List after replace :  [1, 2, 4, 5, 6, 7, 0, 0, 0]

In [56]:
#Question 43. Convert a string into a list of words.

In [58]:
my_string = "Hello welcome the pwskills class."
print("Given string is :",my_string)
print("Converting them into list of words")
res = my_string.split()
print(res)

Given string is : Hello welcome the pwskills class.
Converting them into list of words
['Hello', 'welcome', 'the', 'pwskills', 'class.']

In [59]:
#Question 44. Convert a list of words into a string.

In [62]:
my_list = ['hello','welcome','the','pwskills','class']
print("Given list is :",my_list)
print("Converting list to string")
for i in my_list :
     print(i,end=" ")

Given list is : ['hello', 'welcome', 'the', 'pwskills', 'class']
Converting list to string
hello welcome the pwskills class

In [63]:
#Question 46. Find the longest string in a list of strings.

In [64]:
my_list = ["hello","welcome","pwskills","class"]
result = max(my_list, key=len) 
print("Longest String is  : ", result)

Longest String is  :  pwskills

In [65]:
#Question 47. Find the shortest string in a list of strings.

In [66]:
my_list = ["hello","welcome","pwskills","class"]
result = min(my_list,key =len)
print("shortest String is  : ", result)

shortest String is  :  hello

In [1]:
#Question 48. Create a list of the first `n` triangular numbers.

In [17]:
def triangular_number(n):
    for i in range(1,n+1):
         print((i ** 2 + i)//2)
n = 5
triangular_number(n)

1
3
6
10
15

In [18]:
#Question 49. Check if a list contains another list as a subsequence.

In [19]:
#   Tuple Based Practice Problem :

In [20]:
#Question 1. Create a tuple with integers from 1 to 5.

In [21]:
int_tuple = (1,2,3,4,5)    
print("Tuple with integers: ", int_tuple)

Tuple with integers:  (1, 2, 3, 4, 5)

In [22]:
#Question 2. Access the third element of a tuple.

In [24]:
my_tuple = (20,30,40,50,60)
print(my_tuple[3])

50

In [25]:
#Question 3. Find the length of a tuple without using the `len()` function.

In [26]:
def tuple_len(input_tuple):
    count = 0
    for _ in input_tuple:
        count  += 1
    return count
    
mytuple= (12,12,23)
length =  tuple_len(mytuple)
print("Enterthe length: ",length)

Enterthe length:  3

In [27]:
#Question 4 Count the occurrences of an element in a tuple.

In [38]:
my_tuple = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
x = [i for i in my_tuple if i == 10]
print("the element 10 occurs", len(x), "times")

the element 10 occurs 3 times

In [ ]:
#Question 5. Find the index of the first occurrence of an element in a tuple.

In [2]:
My_tuple = (10,12,13,14,15)
result = My_tuple.index(10)
print("index of the first occurrence of an element : ",result)

index of the first occurrence of an element :  0

In [3]:
#Question 6. Check if an element exists in a tuple.

In [13]:
my_tuple = (10,20,30,40,50)
print("The original tuple :",my_tuple)
element = 20
results = element in my_tuple
print("Element exists in a tuple. : ",results)

The original tuple : (10, 20, 30, 40, 50)
Element exists in a tuple. :  True

In [1]:
#Question 7. Convert a tuple to a list.

In [4]:
my_tuple = ('helli','welcome','pwskills','class')
print("This is tuple : ",my_tuple)
my_list = list(my_tuple)
print("Converted tuple to a list :",my_list)

This is tuple :  ('helli', 'welcome', 'pwskills', 'class')
Converted tuple to a list : ['helli', 'welcome', 'pwskills', 'class']

In [5]:
#Question 8. Convert a list to a tuple.

In [6]:
my_list = [12,14,15,16]
print("This is list:",my_list)
my_tuple = tuple(my_list)
print("Converted list to a tuple :",my_tuple)

This is list: [12, 14, 15, 16]
Converted list to a tuple : (12, 14, 15, 16)

In [7]:
#Question 9. Unpack the elements of a tuple into variables.

In [10]:
a = ("shama sviet", 5000, "Engineering")  
(college, student, type_ofcollege) = a  
print(college)
print(student) 
print(type_ofcollege)

shama sviet
5000
Engineering

In [11]:
#Question 10. Create a tuple of even numbers from 1 to 10.

In [17]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
for num in my_tuple:
      if num % 2 == 0:
        print(num, end=" ")

2 4 6 8 10

In [18]:
#Question 11. Create a tuple of odd numbers from 1 to 10.

In [19]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
for num in my_tuple:
     if num % 2 != 0:
            print(num, end=" ")

1 3 5 7 9

In [20]:
#Question 12. Concatenate two tuples.

In [21]:
import itertools
tuple1 = (1, 3, 5)
tuple2 = (4, 6)
tuple3 = tuple(itertools.chain(tuple1, tuple2))
print("Concatenated tuple:", tuple3)

Concatenated tuple: (1, 3, 5, 4, 6)

In [1]:
#Question 13. Repeat a tuple three times.

In [6]:
my_tuple = (3,4)
print("print original tuple : ",my_tuple)
N = 3
result =((my_tuple,) * N)
print("The duplicated tuple elements are : " ,result)

print original tuple :  (3, 4)
The duplicated tuple elements are :  ((3, 4), (3, 4), (3, 4))

In [7]:
#Question 14. Check if a tuple is empty.

In [10]:
Mytuple=()
if not Mytuple:
    print ("Mytuple is empty")
else:
    print ("Mytuple is not empty")

Mytuple is empty

In [11]:
#Question 15. Create a nested tuple.

In [12]:
my_tuple1 = (1,2)
my_tuple2 = (3,4)
print("print my_tuple1",my_tuple1)
print("print my_tuple2", my_tuple2)
res = my_tuple1 + my_tuple2
print("print res:",res)

print my_tuple1 (1, 2)
print my_tuple2 (3, 4)
print res: (1, 2, 3, 4)

In [13]:
#Question 16 Access the first element of a nested tuple.

In [14]:
myTuple = ("Pw Skills", 4, 29, 13)
print(myTuple[0])

Pw Skills

In [1]:
#Question 17. Create a tuple with a single element.

In [3]:
single_ele_tuple = ("shama")
print("print single element tuple:",single_ele_tuple)

print single element tuple: shama

In [4]:
#Question 18.Compare two tuples.

In [5]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [6]:
#Question 19. Delete a tuple.

In [7]:
my_tuple = (1,2,3,4,5,6,7)
print("print oroginal my_tuple:",my_tuple)
del my_tuple
print("print delete tuple:", my_tuple)

print oroginal my_tuple: (1, 2, 3, 4, 5, 6, 7)

NameError: name 'my_tuple' is not defined

In [8]:
#Question 20 Slice a tuple.

In [10]:
my_tuple =(1,2,3,4,5,6,7,8)
print("print original tuple :",my_tuple)
sliced_tuple = my_tuple[2:7]
print("Sliced tuple:", sliced_tuple)

print original tuple : (1, 2, 3, 4, 5, 6, 7, 8)
Sliced tuple: (3, 4, 5, 6, 7)

In [11]:
#Question 21. Find the maximum value in a tuple.

In [12]:
my_tuple = (1,3,2,4,5,6,7,6)
max_value = max(my_tuple)
print("print maximum value: ",max_value)

print maximum value:  7

In [13]:
#Question 22. Find the minimum value in a tuple.

In [14]:
my_tuple = (1,2,3,4,5,6,7,8,9)
min_value = min(my_tuple)
print("minimum value in a tuple:",min_value)

minimum value in a tuple: 1

In [15]:
#Question 23. Convert a string to a tuple of characters.

In [16]:
my_string = "Hello, World!"
tuple_of_characters = tuple(my_string)
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [17]:
#Question 24. Convert a tuple of characters to a string.

In [18]:
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')
string_from_tuple = ''.join(tuple_of_characters)
print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

In [19]:
#Question 25. Create a tuple from multiple data types.

In [20]:
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [21]:
#Question 26. Check if two tuples are identical.

In [22]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

In [23]:
#Question 27. Sort the elements of a tuple.

In [24]:
my_tuple = (1,2,3,4,5,6,3)
print("print origanl tuple :",my_tuple)
sorted_tuple = tuple(sorted(my_tuple))
print("this is sorted tuple:",sorted_tuple)

print origanl tuple : (1, 2, 3, 4, 5, 6, 3)
this is sorted tuple: (1, 2, 3, 3, 4, 5, 6)

In [25]:
#Question 28. Convert a tuple of integers to a tuple of strings.

In [26]:
tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

In [27]:
#Question 29. Convert a tuple of strings to a tuple of integers.

In [28]:
tuple_of_strings = ('10', '20', '30', '40', '50')
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

In [29]:
#Question 30 . Merge two tuples.

In [30]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [31]:
#Question 31. Flatten a nested tuple.

In [32]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [33]:
#Question 32. Create a tuple of the first 5 prime numbers.

In [34]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]
prime_numbers_tuple = tuple(prime_numbers_list)
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [35]:
#Question 33. Check if a tuple is a palindrome.

In [36]:
def is_palindrome(tup):
    return tup == tup[::-1]
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [37]:
#Question 34. Create a tuple of squares of numbers from 1 to 5.

In [38]:
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [39]:
#Question 35. Filter out all even numbers from a tuple.

In [40]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

In [41]:
#Question 36. Multiply all elements in a tuple by 2.

In [44]:
my_tuple = (1,2,3,4,5,6,7,8)
print("this is originl element in tuple: ", my_tuple)
doubled_tuple = tuple(num * 2 for num in my_tuple)
print("Doubled tuple:", doubled_tuple)

this is originl element in tuple:  (1, 2, 3, 4, 5, 6, 7, 8)
Doubled tuple: (2, 4, 6, 8, 10, 12, 14, 16)

In [45]:
#Question 37. Create a tuple of random numbers.

In [46]:
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(10)) 
print("Random tuple:", random_tuple)

Random tuple: (39, 30, 75, 46, 93, 87, 48, 73, 79, 84)

In [47]:
#Question 38. Check if a tuple is sorted.

In [48]:
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [49]:
#Question 39. Rotate a tuple to the left by `n` positions.

In [50]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[n:] + tup[:n] 
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [51]:
#Question 40. Rotate a tuple to the right by `n` positions.

In [52]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[-n:] + tup[:-n] 
    return rotated_tuple


my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [53]:
#Question 41. Create a tuple of the first 5 Fibonacci numbers.

In [54]:
def generate_fibonacci(n):
    fibonacci = [0, 1] 
    while len(fibonacci) < n:  
        next_number = fibonacci[-1] + fibonacci[-2]  
        fibonacci.append(next_number)  
    return tuple(fibonacci)  
fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [55]:
#Question 42. Create a tuple from user input.

In [56]:
input_str = input("Enter elements separated by commas: ")
input_list = input_str.split(',')
user_tuple = tuple(input_list)
print("User input tuple:", user_tuple)

Enter elements separated by commas:  hello world

User input tuple: ('hello world',)

In [57]:
#Question 43. Swap two elements in a tuple.

In [58]:
my_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [59]:
#Question 44. Reverse the elements of a tuple.

In [60]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [61]:
#Question 45. Create a tuple of the first `n` powers of 2.

In [64]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [63]:
#Question 46. Find the longest string in a tuple of strings.

In [65]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
longest_string = max(string_tuple, key=len)
print("Longest string:", longest_string)

Longest string: watermelon

In [66]:
#Question 47. Find the shortest string in a tuple of strings.

In [67]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
shortest_string = min(string_tuple, key=len)
print("Shortest string:", shortest_string)

Shortest string: kiwi

In [68]:
#Question 48. Create a tuple of the first `n` triangular numbers.

In [69]:
n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [70]:
#Question 49. Check if a tuple contains another tuple as a subsequence.

In [71]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [72]:
#Question 50. Create a tuple of alternating 1s and 0s of length `n`.

In [73]:
n = 10
alternating_tuple = tuple(i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [74]:
################ Set Based Practice Problem ##############

In [2]:
##1. Create a set with integers from 1 to 5.
my_set = {1,2,3,4,5}
print("set with integers : ",my_set)

set with integers :  {1, 2, 3, 4, 5}

In [3]:
#2. Add an element to a set.
my_set = {"hello","welcome","to","pwskills"}
my_set.add("class")
print("Add element to a set",my_set)

Add element to a set {'hello', 'pwskills', 'welcome', 'to', 'class'}

In [4]:
#3. Remove an element from a set.
my_set = {"welocome","to","pwskills","class"}
my_set.remove("class")
print("Removed element from set is :",my_set)

Removed element from set is : {'welocome', 'pwskills', 'to'}

In [6]:
#4. Check if an element exists in a set.

my_set = {1, 3, 5, 7, 9}

element_to_check = int(input("Enter the element to check: "))
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  8

8 does not exist in the set.

In [13]:
#5. Find the length of a set without using the `len()` function.
my_set = {1, 2, 3, 4, 5}
count = 0
for _ in my_set:
  
    count += 1
print("Length of the set:", count)

Length of the set: 5

In [17]:
# 6. Clear all elements from a set.
my_set = {1,2,3,4,5,6,7}
print("Original my_set is :",my_set)
my_set.clear()
print("Set after clearing ",my_set)

Original my_set is : {1, 2, 3, 4, 5, 6, 7}
Set after clearing  set()

In [29]:
# 7. Create a set of even numbers from 1 to 10.
even_numbers_set = set()
for num in range(1, 11):
    if num % 2 == 0:
        even_numbers_set.add(num)
print(even_numbers_set)

{2, 4, 6, 8, 10}

In [30]:
# 8. Create a set of odd numbers from 1 to 10.
odd_number_set = set()
for num in range(1,11):
    if num % 2 != 0:
        odd_number_set.add(num)
print(odd_number_set)

{1, 3, 5, 7, 9}

In [31]:
# 9. Find the union of two sets.
set1 = {1,2,3,4,5,6,7}
set2 = {3,4,5,6,8}
union_result = set1.union(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5, 6, 7}
Set 2: {3, 4, 5, 6, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

In [32]:
# 10. Find the intersection of two sets.
set1 = {1,2,3,4,5,6,7}
set2 = {2,3,4,5,6,7}
intersection_result = set1.intersection(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {1, 2, 3, 4, 5, 6, 7}
Set 2: {2, 3, 4, 5, 6, 7}
Intersection: {2, 3, 4, 5, 6, 7}

In [34]:
#11. Find the difference between two sets.
set1 = {2,3,4,5,6,7,8,9}
set2 = {1,3,4,2,5,6}
difference_result = set1.difference(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_result)

Set 1: {2, 3, 4, 5, 6, 7, 8, 9}
Set 2: {1, 2, 3, 4, 5, 6}
Difference: {8, 9, 7}

In [35]:
# 12. Check if a set is a subset of another set.
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

In [36]:
# 13. Check if a set is a superset of another set.
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}
is_superset = set1.issuperset(set2)
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [37]:
# 14. Create a set from a list.
my_list = [1,2,3,4,5,6]
my_set = set(my_list)
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [1, 2, 3, 4, 5, 6]
Set from List: {1, 2, 3, 4, 5, 6}

In [38]:
# 15. Convert a set to a list.
my_set = {1,2,4,5,6,7}
my_list = list(my_set)
print("Original List:", my_set)
print("Set from List:", my_list)

Original List: {1, 2, 4, 5, 6, 7}
Set from List: [1, 2, 4, 5, 6, 7]

In [40]:
#16. Remove a random element from a set.
import random 
my_set = {1,2,3,4,5,6,7}
print("original set: ",my_set)
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("Updated set after removing", random_element, ":", my_set)

original set:  {1, 2, 3, 4, 5, 6, 7}
Updated set after removing 2 : {1, 3, 4, 5, 6, 7}

In [41]:
# 17. Pop an element from a set.
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
popped_element = my_set.pop()
print("Popped element:", popped_element)
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

In [42]:
# 18. Check if two sets have no elements in common.
set1 = {1,2,3,4,5,6}
set2 = {2,3,4,5,6,7}
common_elements = set1.intersection(set2)
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have common elements: {2, 3, 4, 5, 6}

In [43]:
# 19. Find the symmetric difference between two sets.
set1 = {1,2,3,4,5,6,7}
set2 = {2,3,4,5,6,7,8}
symmetric_set = set1 ^ set2
print("Symmetric Difference:", symmetric_set)

Symmetric Difference: {1, 8}

In [44]:
# 20. Update a set with elements from another set.
set1 = {1, 2, 3}
print("Set 1:", set1)
set2 = {3, 4, 5}
print("Set 2:", set2)
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

In [45]:
# 21. Create a set of the first 5 prime numbers.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_set = set()
num = 2
while len(prime_set) < 5:
   
    if is_prime(num):
        
        prime_set.add(num)

    
    num += 1


print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [46]:
#22. Check if two sets are identical.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [47]:
#23. Create a frozen set.
elements = [1, 2, 3, 4, 5]
my_frozen_set = frozenset(elements)
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [49]:
#24. Check if a set is disjoint with another set.
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
disjoint_status = set1.isdisjoint(set2)
print("Are the sets disjoint : ?", disjoint_status)

Are the sets disjoint : ? True

In [1]:
#25. Create a set of squares of numbers from 1 to 5.
squares_set = set()

for num in range(1, 6):
   
    square = num ** 2

   
    squares_set.add(square)


print(squares_set)

{1, 4, 9, 16, 25}

In [2]:
# 26. Filter out all even numbers from a set.

In [6]:
my_set = {1, 2, 3, 4, 5}
even_set = set()
for num in my_set:
    if num % 2 == 0:
        even_set.add(num)
print("Original Set:", my_set)
print("Even Numbers Set:", even_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [7]:
#
original_set = {1, 2, 3, 4, 5}
multiplied_set = set()
for num in original_set:
  
    multiplied_num = num * 2

   
    multiplied_set.add(multiplied_num)


print("Original Set:", original_set)
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [14]:
#28. Create a set of random numbers.
import random
num_random_numbers = 5

random_number_set = set()


for _ in range(num_random_numbers):
    
    random_num = random.randint(1, 100) 
    random_number_set.add(random_num)


print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {98, 67, 9, 43, 48}

In [15]:
# 29. Check if a set is empty.
my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [16]:
#30. Create a nested set (hint: use frozenset).
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2}

print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [4]:
# 31. Remove an element from a set using the discard method.
my_set = {1,2,3,4,5,6,7,8}
print("original set :",my_set)

remove_element = 4
my_set.discard(remove_element)

print("Set after removing", remove_element, ":", my_set)

original set : {1, 2, 3, 4, 5, 6, 7, 8}
Set after removing 4 : {1, 2, 3, 5, 6, 7, 8}

In [7]:
#32  Compare two sets.
my_set1 = {1,2,3,4,5,5}
my_set2 = {1,2,3,4,5,6}

is_subset = my_set1.issubset(my_set2)
is_superset = my_set1.issuperset(my_set2)
intersection = my_set1.intersection(my_set2)
difference1 = my_set1.difference(my_set2)
difference2 = my_set1.difference(my_set2)
union = my_set1.union(my_set2)

print("Set 1:", my_set1)
print("Set 2:", my_set1)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {1, 2, 3, 4, 5}
Is set1 a subset of set2? True
Is set2 a subset of set1? False
Intersection: {1, 2, 3, 4, 5}
Union: {1, 2, 3, 4, 5, 6}
Elements in set1 but not in set2: set()
Elements in set2 but not in set1: set()

In [2]:
# 33. Create a set from a string.
input_string = "hello"
char_set = set(input_string)

print(char_set)

{'e', 'h', 'o', 'l'}

In [1]:
# 34. Convert a set of strings to a set of integers.
string_set = {"123", "456", "789"}


integer_set = set()

for string in string_set:
    
    integer_value = int(string)

    
    integer_set.add(integer_value)


print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'123', '456', '789'}
Converted Integer Set: {456, 123, 789}

In [2]:
#35. Convert a set of integers to a set of strings.
integers_set = {1, 2, 3, 4, 5}

strings_set = set()

for num in integers_set:
    
    num_str = str(num)

    strings_set.add(num_str)


print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'5', '1', '3', '2', '4'}

In [3]:
#36. Create a set from a tuple.
input_tuple = (1, 2, 3, 2, 4, 5, 1)

output_set = set(input_tuple)

print(output_set)

{1, 2, 3, 4, 5}

In [4]:
# 37. Convert a set to a tuple.
input_set = {1, 2, 3, 4, 5}

output_tuple = tuple(input_set)

print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [5]:
#38. Find the maximum value in a set.
my_set = {15, 7, 22, 13, 8}

max_value = None

for num in my_set:

    if max_value is None or num > max_value:
        max_value = num 

print("Maximum value:", max_value)

Maximum value: 22

In [10]:
#39. Find the minimum value in a set.
number_set = {15, 8, 23, 4, 42, 11}


min_value = None


for num in number_set:
   
    if min_value is None or num < min_value:
      
        min_value = num


print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

In [ ]:
# 40. Create a set from user input.

In [11]:
# 41. Check if the intersection of two sets is empty.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_result = set1.intersection(set2)


if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [12]:
# 42. Create a set of the first 5 Fibonacci numbers.

fibonacci_set = set()


a, b = 0, 1

for _ in range(6):
    
    fibonacci_set.add(a)

    
    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [13]:
# 43. Remove duplicates from a list using sets.

original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

unique_set = set(original_list)

unique_list = list(unique_set)


print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [14]:
# 44. Check if two sets have the same elements, regardless of their count.

def have_same_elements(set1, set2):
   
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

   
    return sorted_list1 == sorted_list2

set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}


result = have_same_elements(set1, set2)

if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [15]:
#45. Create a set of the first `n` powers of 2.

def generate_powers_of_2(n):
   
    powers_of_2 = set()

    for i in range(n):
        
        power = 2 ** i

        powers_of_2.add(power)

    return powers_of_2

n = 5

powers_set = generate_powers_of_2(n)

print(powers_set)

{1, 2, 4, 8, 16}

In [16]:
#46. Find the common elements between a set and a list.

my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

list_to_set = set(my_list)

common_elements = []

for element in my_set:
  
    if element in list_to_set:
     
        common_elements.append(element)


print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [18]:
# 47. Create a set of the first `n` triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers = set()  
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2 
        triangular_numbers.add(triangular_number)  
    return triangular_numbers


n = int(input("Enter the value of n: "))


triangular_set = generate_triangular_numbers(n)


print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  2

The set of the first 2 triangular numbers is: {1, 3}

In [19]:
# 48. Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [20]:
# 49. Create a set of alternating 1s and 0s of length `n`.

def create_alternating_set(n):
   
    alternating_set = set()

    for i in range(n):
        
        if i % 2 == 0:
            alternating_set.add(1)
        else:
            alternating_set.add(0)  

    return alternating_set

length_n = 10

result = create_alternating_set(length_n)

print(result)

{0, 1}

In [21]:
# 50. Merge multiple sets into one.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)

print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}